/*
projects : HR-Intelligence
author : The Concept Crew
date : 03 july, 2017
*/

/* reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* body */
body {
	background: #eee;
	display: flex;
	height: 100%;
	font-family: 'Lato', sans-serif;
	flex-direction: column;
}
/* nav */
footer{
	text-align: center;
	width: 100%;
	font-size: 11px;
	padding: 20px 0;
	font-family: arial;
}
nav{
	width: 100%;
	padding: 15px 10px;
	background: #525252;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
nav h1{
	font-size: 26px;
	color: #fff;
	font-weight: 700;
}
nav h1 span{
	font-style: italic;
	font-size: 12px;
	letter-spacing: 0.6px;
}
nav .user{
	color: #fff;
	padding: 0 10px;

}
nav .user a{
	color: #ef4815;
}
/* login */
#main{
	display: flex;
	min-height: 80vh;
	flex: 1;
	flex-direction: column;
}
#loginContainer, #landingContainer, #addEmpContainer{
	display: flex;
	align-items: center;
	justify-content: center;
	flex:1 0 auto;
}
#addEmp{
	width:800px;
	min-height: 200px;
	background: #fff;
	border-radius: 3px;
	padding: 20px;
	display: flex;
	flex-direction: column;
}
#addEmp .row{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#login, #landing{
	width:400px;
	min-height: 200px;
	background: #fff;
	border-radius: 3px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#login h1, #addEmp h1{
	font-size: 24px;
	font-weight: 700;
	text-align: left;
	width: 100%;
	border-bottom: 1px solid #eee;
	border-top: 2px solid #eee;
	padding: 10px 0;
}
#login h1 span, #addEmp h1 span{
	display: block;
	font-size: 12px;
	font-weight: 300;
	font-style: italic;
	margin-top: 2px;
}
.inputBox{
	width: 100%;
	margin: 20px 10px 0
}
.inputBox label{
	font-size: 13px;
	font-weight: 700;
	margin-bottom: 5px;
}
.inputBox input{
	border-radius: 2px;
	border:1px solid #eee;
	width: 100%;
	padding:8px 5px;
}
.inputBox button{
	background: #ef4815;
	color: #fff;
	font-size: 13px;
	text-transform: uppercase;
	padding:12px;
	border-radius: 2px;
	border:0;
	width: 100%;
}
.dt {
  width: 75%;
  margin: 50px auto;
}
.buttonContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex:1;
	flex-direction: column;
}
.msg{
	padding: 15px;
	font-size: 13px;
	margin-bottom: 15px;
	color: #333;
}
.msg.success{
	background: #dff0d8;
}
.msg.error{
	background: #f2dede;

}

#landing button {
	background: #ef4815;
	color: #fff;
	font-size: 13px;
	text-transform: uppercase;
	padding:12px;
	border-radius: 2px;
	border:0;
	width: 140px;
	margin:10px 0;
}
#landing .addEmp{
	background: #333;
}

#landing .train{
	background: #76d200;
}

.overlay{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 9998;
}
.popup{
	position: absolute;
	width: 200px;
	height: 200px;
	top: 50%;
	left: 50%;
	margin: -100px 0 0 -100px;
	background: #fff;
	z-index: 9999;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.popup h2{
	width: 100%;
	text-align: center;
	font-size: 18px;
	font-weight: 700;
	line-height: 2;
}
.prediction{
	font-size: 22px;
	font-weight: 700;
	color: #ef4815;
}
.closeX{
	position: absolute;
	top: 5px;
	right: 5px;
	color: #000;
	font-size: 13px;
	cursor: pointer;
	font-weight: 700;
}
