/*
projects : HR-Intelligence
author : The Concept Crew
date : 03 july, 2017
*/

/* reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* body */
body {
	background: #eee;
	display: flex;
	height: 100%;
	font-family: 'Lato', sans-serif;
}

/* login */
#main{
	display: flex;
	min-height: 100vh;
	flex: 1;
}
#loginContainer{
	display: flex;
	align-items: center;
	justify-content: center;
	flex:1;
}
#login{
	width:400px;
	min-height: 200px;
	background: #fff;
	border-radius: 3px;
	padding: 15px 10px;
	display: flex;
	flex-direction: column;
}
#login h1{
	font-size: 24px;
	font-weight: 700;
}
#login h1 span{
	display: block;
	font-size: 12px;
	font-weight: 300;
	font-style: italic;
	margin-top: 2px;
}
#login .inputBox{
	width: 100%;
	margin-top: 15px;
}

#login .inputBox input{
	border-radius: 2px;
	border:1px solid #eee;
	width: 100%;
	padding:8px 5px;
}
#login .inputBox input[type="button"]{
	background: #ef4815;
	color: #fff;
	font-size: 13px;
	text-transform: uppercase;
	padding:12px;
	border-radius: 2px;
	border:0;
}
.dt {
  width: 75%;
  margin: 50px auto;
}
.buttonContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex:1;
}

.landingButton {
	background-color: #3b4252;
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;
	font-weight: normal;
	color: #ffffff;
	line-height: 1;
	padding: 10px 15px;
	margin-right: 10px;
	box-sizing: border-box;
	border-radius: 7px;
	cursor: pointer;
	background: -webkit-linear-gradient(top, #3b4252, #131926);
  border: 1px solid #272e3d;
}
